---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<h2>Guest Lecturer</h2>
<ul>
	<li>EECS 356/456 - Data Privacy, Spring 2019 </li>
	Presented a 75-minute lecture on profile matching attacks across online social networks.
</ul>
<br>
		
<h2>Teaching Assistant</h2>
<b>Case Western Reserve University </b><br>
 <ul>
	<li> EECS 356/456 - Data Privacy, Spring 2019 </li>
	<li> EECS 233 - Introduction to Data Structures, Fall 2018 </li>
	<li> EECS 600 - Data Privacy, Spring 2018 </li>
 </ul>
 <b>Bilkent University </b><br>
 <ul>
	<li> CS 101 - Algorithms and Programming I, Fall 2015, Fall 2016, Spring 2017 </li>
	<li> CS 102 - Algorithms and Programming II, Spring 2016, Fall 2017 </li>
	<li> CS 577 - Data Privacy, Spring 2017 </li>
 </ul>
 <b>Epoka University </b><br>
 <ul>
	<li> CEN 254 - Data Structures, Spring 2013, Spring 2015 </li>
	<li> CEN 112 - C and C++ Programming, Spring 2015 </li>
	<li> CEN 303 - Analysis of Algorithms, Fall 2014 </li>
	<li> CEN 101 - Introduction to Algorithms and Programming, Fall 2014 </li>
 </ul>